/********** Case Studies **********/
.case-study-content-wrapper
  min-height: 50vh
  width: 100vw
  margin: 0 auto
  padding: 60px 20px

.section-container
  margin: 0 0 40px 0
  padding: 0
  // background: lightgreen

.sect-head
  font-size: 2.75em
  font-family: 'Montserrat-Medium'
  color: #000
  // margin-bottom: -50px
  margin: 0
  padding: 0
  // line-height: 0.5

.sub-head
  font-size: 1.95em
  font-family: 'Montserrat-Regular'
  color: #000
  margin-bottom: 10px

.bold-content
  font-size: 1.45em
  font-family: 'Montserrat-Regular'
  color: #000
  margin-bottom: 20px



.sub-title
  font-size: 1.75em
  font-family: 'Montserrat-Light'
  color: #868286
  line-height: 1.5
  margin: 0
  padding: 0

.section-content
  font-size: 1.30em
  font-family: 'Times'
  color: rgb(80,80,80)
  line-height: 1.5
  margin: 0
  padding: 0

.initial-sketches
  height: auto
  width: 900px

ol
  padding-left: 50px
  margin: 0

.ordered-item
  list-style-position: outside
  margin-bottom: 15px

.section-container img
  width: 100%

.study-image
  margin-bottom: 10px

.image-label
  text-align: center
  font-size: .9em
  color: #868686


// .proj-main
//   filter: drop-shadow(-2px 2px 1px rgba(0,0,0,0.5))

// .content-header
//   color: #0000ff
//   font-family: 'Kaushan Script Regular', sans-serif
//   font-size: 2.5em
//   margin-bottom: 20px
//
// .content-banner-header
//   color: #fff
//   font-family: 'Kaushan Script Regular', sans-serif
//   font-size: 2.5em
//   margin-bottom: 20px
//
// .content
//   font-size: 1.5em
//   font-family: Quicksand Light, sans-serif
//   color: #828286
//   // color: #7a7a7a
//   line-height: 1.8

@media only screen and (min-width: 768px)
  .case-study-content-wrapper
    max-width: 550px

@media only screen and (min-width: 1280px)
  .case-study-content-wrapper
    max-width: 1000px
    padding: 100px 40px
