#footer
  display: flex
  flex-flow: column
  justify-content: center
  align-items: flex-end
  position: fixed
  height: 60px
  bottom: 0px
  left: 0px
  right: 0px
  margin-bottom: 10px


.footer-wrapper
  // background-color: #ecf5ff
  // padding: 40px 0
  height: auto
  background: none

.footer-container
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  /*padding: 5em 5em */
  // width: 100%

  // color: #4C4FFF
  // color: #00C3FF
  margin: 0px
  padding: 40px
  // padding: 77px 70px 70px 70px
  // box-shadow: 2px 3px 5px rgba(0,0,0,0.4)
  // background-image: linear-gradient(to right, rgba(23,181,255,1),rgba(0,0,255,.7))
  background: none

ul.media-menu-text
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  width: 100%

.footer-logo
  height: 50px
  width: auto
  margin-bottom: 20px
  // margin: 0 50px 0 0

p.copy
  margin: 0

.copy
  // display: flex
  // flex-direction: row
  // justify-content: center
  // align-items: center
  // padding: 20px
  // font-size: .65em
  // font-family: Oswald Light, sans-serif
  font-family: 'Kaushan Script Regular', sans-serif
  // color: #47A7FF
  color: #fff
  // color: #4987FF
  // width: 100%
  text-align: center
  // margin-bottom: 25px
  font-size: 1em
  margin: 0
  padding: 0
  line-height: 1.5ds


.logo-container
  padding: 0
  margin: 0


.bottom-border
  height: 25px
  width: 100vw
  // background-image: linear-gradient(to right, rgba(23,181,255,.8),rgba(0,0,255,.7))

.copy-second
  display: none


@media only screen and (min-width: 768px)

  // #footer
  //   position: fixed
  //   height: 60px
  //   bottom: 0px
  //   left: 0px
  //   right: 0px
  //   margin-bottom: 10px


  ul.media-menu-text
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    width: 100%

  .copy
    font-size: 1em

  // .love
  //   margin: 0 20px

  .copy-first
    display: none

  .copy-second
    display: flex

  // .media-links ul li .dot
  //   display: block
  //   color: #47A7FF
  //   margin: 0 30px 0 30px
  .footer-container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding: 0 10px 0 20px
    background: none

  .footer-wrapper
    padding: 0

@media only screen and (min-width: 1280px)

  #footer
    margin-right: 120px
