.home
  display: flex
  flex-flow: column nowrap
  align-items: flex-end
  color: #fff
  width: 100vw
  height: 100vh

.blue-diag
  position: relative
  height: 60vh
  width: 100%
  background-image: linear-gradient(to right, #4949FF, #AAABFF)
  // background-image: linear-gradient(to right, #4949FF, #8081FF)

.blueHeader
  position: absolute
  bottom: 0
  width: 100%
  height: 10vw
  background-image: linear-gradient(to right, #4949FF, #AAABFF)
  // background-image: linear-gradient(to right, #4949FF, #8081FF)

.titleDesign
  height: 50%
  width: 100vw
  padding: 20px
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  align-items: center

.header-content
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  height: 100%
  width: 100vw

// .title-wrapper
//   padding: 20px

.titleDes-wrapper
  padding: 60px 0 0 20px
.titleDev-wrapper
  // padding: 0px 150px 70px 0
  display: flex
  flex-flow: column
  justify-content: center
  align-items: flex-end
  padding: 40px 20px 0 0

.title-des1
  font-family: 'Abril Fatface', sans-serif
  font-size: 3.75em
  line-height: 0.95
.title-des2
  font-family: 'Raleway Extra Light', sans-serif
  font-size: 1.75em
  line-height: normal
.title-dev1
  font-family: 'Abril Fatface', sans-serif
  font-size: 3.75em
  line-height: 0.95
  color: black
.title-dev2
  font-family: 'Raleway Extra Light', sans-serif
  font-size: 1.75em
  color: black

.title-image
  height: 100%
  width: 100%
  margin-right: 30px

.banner-image
  height: auto
  width: 100%

.left-header-content
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  background: yellow
  height: 100%
  width: 100%

.left-banner-contents
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: center
  background: white
  height: 100%
  width: 100%

.name
  height: 100px
  width: 100px
  background: black
  color: #fff
  margin-right: 40px

.intro
  font-family: 'Montserrat-ExtraLight'

@media only screen and (min-width: 768px)
  .header-content-wrapper
    max-width: 750px

  .intro
    font-size: 2em
    letter-spacing: 4px
  .title
    font-size: 6em
    padding: 0
    margin: 10px 0

  .title span
    font-size: 1em

  .intro
    font-size: 2em
    line-height: 1.5

  .titleDesign
    padding: 40px

  .title-wrapper
    padding: 100px 0 0 40px

  .title-name
    font-family: 'Kaushan Script Regular', sans-serif
    font-size: 2em

  .title-dev
    font-family: 'Montserrat-Light', sans-serif
    font-size: 3.75em

  .title-des
    font-family: 'Montserrat-Light', sans-serif
    font-size: 3.75em
    color: black

  .titleDes-wrapper
    display: flex
    flex-flow: column
    justify-content: center
    align-items: flex-start
    padding: 0 0 0 80px
    height: 90%
    // maring: 0
    // padding: 0
  .titleDev-wrapper
    padding: 50px 80px 70px 0


  .title-des1
    font-family: 'Abril Fatface', sans-serif
    font-size: 7.5em
    line-height: 0.95
  .title-des2
    font-family: 'Raleway Extra Light', sans-serif
    font-size: 2em
    line-height: normal
  .title-dev1
    font-family: 'Abril Fatface', sans-serif
    font-size: 7.5em
    line-height: 0.95
    color: black
  .title-dev2
    font-family: 'Raleway Extra Light', sans-serif
    font-size: 2em
    color: black

@media only screen and (min-width: 1280px)
  .header-content-wrapper
    max-width: 1200px
    margin-left: 100px
  .intro
    padding-bottom: 14px

  .header-content img
    width: 65%



  .titleDes-wrapper
    padding: 50px 0 0 150px
    margin: 0
    display: block
    // flex-flow: column
    // justify-content: center
    // align-items: flex-start
    // padding: 0 0 0 80px
    // height: 90%


  .titleDev-wrapper
    padding: 0px 150px 70px 0
    display: flex
    flex-flow: column
    justify-content: center
    align-items: flex-end
  .title-des1
    font-family: 'Abril Fatface', sans-serif
    font-size: 7.5em
    line-height: 0.95
  .title-des2
    font-family: 'Raleway Extra Light', sans-serif
    font-size: 2.65em
    line-height: normal
  .title-dev1
    font-family: 'Abril Fatface', sans-serif
    font-size: 7.5em
    line-height: 0.95
    color: black
  .title-dev2
    font-family: 'Raleway Extra Light', sans-serif
    font-size: 2.65em
    color: black



  // .title-name
  //   font-family: 'Kaushan Script Regular', sans-serif
  //   font-size: 2.65em
  //
  //
  // .title-dev
  //   font-family: 'Montserrat-Light', sans-serif
  // //   font-size: 4.75em
  //
  // .title-des
  //   position: absolute
  //   top: 100
  //   left: 100
  //   right: 0
  //   bottom: 0
  //   font-family: 'Montserrat-Light', sans-serif
  //   font-size: 4.75em
  //   color: black
  //   margin: 0 100px 150px 0





  // .blue-diag
  //   height: 65vh
  //   width: 100vw
  //   // transform: skewY(-4deg)
  //   background-color: #4949FF
  //   color: white
  //   padding-top: 89px
  //   margin-top: -90px

// .blue-diag
//   // display: flex
//   // flex-flow: column nowrap
//   // justify-content: space-between
//   // align-items: center
//   // height: 65vh
//   // height: 500px
//   width: 100vw
//   height: 800px
//   transform: skewY(-10deg)
//
//   background-image: linear-gradient(to right, #4949FF, #8081FF)
//   // background-color: #4949FF
//   color: white
//   // padding: 100px
//   // padding-top: 89px
//   margin-top: -90px

    // margin-right: 50px

// .title
//   font-size: 3em
//   padding: 0
//   // margin: 10px 0
//
// .title span
//   // font-family: Poller One, sans-serif
//   font-family: 'Kaushan Script Regular', sans-serif
//
// .intro
//   font-size: 1em
//   line-height: 1.5
//   // font-family: Oswald Light, sans-serif
//   font-family: Quicksand Light, sans-serif
//   // font-family: Open Sans, sans-serif
//   color: #fff
//
// .banner
//   display: flex
//   flex-flow: column nowrap
//   justify-content: center
//   align-items: center
//   background: none
//   height: 100%
//
// .arrow-container
//   content: ""
//   position: relative
//   margin-top: 50px
//   width: 100%
//   display: flex
//   flex-flow: row nowrap
//
// .arrow-down
//   width: 100%
//   margin: 0 auto
//   text-align: center
//
// .arrow-down::after
//   content: ""
//   width: 20px
//   height: 20px
//   position: absolute
//   margin: auto
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   border-right: 2px solid #fff
//   border-bottom: 2px solid #fff
//   -webkit-transform: rotate(45deg)
//   transform: rotate(45deg)
//   -webkit-animation: 3s arrow infinite ease
//   animation: 3s arrow infinite ease

// @-webkit-keyframes arrow
//   0%, 100%
//     top: 50px
//   50%
//     top: 80px
//
// @keyframes arrow
//   0%, 100%
//     top: 50px
//   50%
//     top: 80px




    // font-family: Open Sans, sans-serif




// background-color: #F4F6FF
// .header
//   display: flex
//   flex-flow: column nowrap
//   justify-content: center
//   align-items: center
//   background: #fff
//   // background: url(../assets/images/banner-min.png)
//   // background-position: center center
//   // background-repeat: no-repeat
//   // background-size: cover
//   // height: 100%
//   width: 100vw
//   color: #fff
