// .nav-wrapper
//   height: 80px
//   width: 100vw
//   z-index: 100
//   background: none

.navbar
  position: relative
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: flex-start
  height: 60px
  width: 100vw
  // background: #fff
  // background: rgba(255,255,255,1)
  // background: rgba(0,0,0,.75)
  // background: rgba(0,0,72,.9)
  // background: rgba(255,255,255,1)
  // padding: 0 10px
  // background: rgba(0,0,0,.6)
  // background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.5),)
  // background: rgba(255,255,255,.05)
  // padding: 0 10px
  // z-index: 100
  color: white

.navbar-dark
  position: relative
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: flex-start
  height: 60px
  width: 100vw
  color: white
  // background: #005177
  // background: #AFB5FF
  // background: #4F5BFF
  // background: #020B86
  background: #020D87
  background: rgb(75,75,75)


.navbar-dark-container
  background-color: black
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  // height: 100%
  width: 100vw
  height: 60px


.nav-container
  background: none
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  // height: 100%
  width: 100vw
  height: 60px


.navbar a
  margin: 0
  padding: 0
  height: auto

.hamburger
  display: block
  // display: block
  height: 24px
  width: auto
  margin-right: 20px

.menu
  display: none

  // font-family: Open Sans, sans-serif

  // display: none

.dotLogo
  height: 40px
  width: auto
  padding-left: 16px
  margin-bottom: -4px

.dotLogo a
  margin: 0
  padding: 0

.nav-style
  color: white
  height: 100%
  // font-weight: bolder
//
//
.nav-menu
  display: inline-block
  position: relative
  // display: block
  // font-family: 'Julius Sans One', sans-serif
  font-size: .62em
  // line-height: 1.5
  font-family: 'Montserrat-Regular', sans-serif
  // font-family: Oswald, sans-serif
  // font-family: Oswald Extra Light, sans-serif
  // font-family: 'Montserrat Thin'
  padding: 0 22px
  /*border: 3px solid #fff */
  color: white
  transition: 0.1s ease

  // color: #fff
  color: white
  position: relative
  line-height: 80px
  // color: #0000ff
//
//
// .nav-menu:hover
//   color: #47a7ff
  // color: rgba(115,187,247,1)

.nav-case-studies:hover
  display: inline-block
  background: black
  color: white
  // opacity: .78



.nav-work:hover
  display: inline-block
  background: lightgray
  color: black
  // opacity: .78

.nav-resume:hover
  display: inline-block
  background: blue
  color: white
  // opacity: .78

.nav-about:hover
  display: inline-block
  background: yellow
  color: black
  // opacity: .78

.nav-contact:hover
  display: inline-block
  background: red
  color: white
  // opacity: .78

//
.mobile-menu-icon
  height: 36px
  width: auto
  display: block


// #hire-josh
//   background-color: slategray
//

// #hire-josh:hover
//   background-color: #fff
// //
//
a
  color: inherit
  text-decoration: none
// 	color: unset
//
//
ul
  list-style-type: none
  list-style: none


@media only screen and (min-width: 768px)
  .hamburger
    display: none

  .nav-container
    height: 80px

  .navbar-dark-container
    height: 80px

  .menu
    // font-size: 1.25em
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center
    font-size: .85em
    height: auto

  .dotLogo
    height: 50px
    width: auto
    // padding-right: 25px
    // margin: 10px 20px
    padding-top: 0px
    margin: 0
    // margin: -2px

  .navbar
    height: 80px
    padding: 0px
    z-index: 100

  .navbar-dark
    height: 80px

  .nav-menu
    padding: 0 28px
    line-height: 80px
    font-size: .90em
//

//
// .more
//   color: gray
//
//
// #resume-link
//   display: inline-block
//   padding: 12px 15px
//   background: #fff
//   color: #0000ff
//   border-radius: 50px
//
//
// #resume-link:hover
//   color: rgba(230,230,230,1)
//   border-color: rgba(230,230,230,1)
//
//
// @media only screen and (min-width: 769px)
//
//   .mobile-menu-icon
//     display: none
//
//
//   .menu
//     display: inline-block
//
//
//   .nav-menu
//     display: inline-block
//
//
//
//
