.content-banner
  height: 400px
  width: 100vw
  // background-image: url(../assets/images/banners/about-banner.png)

.content-wrapper
  min-height: 50vh
  width: 100vw
  margin: 0 auto
  padding: 60px 40px

.content-header
  color: #0000ff
  font-family: 'Kaushan Script Regular', sans-serif
  font-size: 2.5em
  margin-bottom: 20px

.content
  font-size: 1.5em
  font-family: Quicksand Light, sans-serif
  color: #828286
  // color: #7a7a7a
  line-height: 1.8

@media only screen and (min-width: 768px)
  .content-wrapper
    max-width: 550px
  .content-header
    font-size: 3em

@media only screen and (min-width: 1280px)
  .content-wrapper
    max-width: 1000px
    padding: 100px 40px
